<form class="form-horizontal" role="form" method="post" action="{{ path('app_login') }}">
    <h2 class="title-small other-margin">Вход</h2>

    {% if error %}
        <p id="error-popup-login" class="text" style="color: red">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
    {% endif %}

    {% if app.user %}
        <p class="text">Вы уже вошли как {{ app.user.username }},
            <a class="link dark" href="{{ path('app_logout') }}">Выйти</a>
        </p>
    {% else %}
        <div class="input-wrapper">
            <div class="input-container">
                <input type="email" name="email" id="login-name" class="input" placeholder="Введите email" value="{{ last_username }}" pattern=".+" required>
                <label class="label" for="email">Ваш email</label>
            </div>
        </div>

        <div class="input-wrapper">
            <div class="input-container">
                <input type="password" name="password" id="login-password" class="input" placeholder="Введите пароль" pattern=".+" required>
                <label class="label" for="password">Ваш пароль</label>
            </div>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >

        <p class="text">У вас нет аккаунта?
            <a class="link dark" id="registration" href="#popup-registration">Регистрация</a>
        </p>

        <button type="submit" class="btn gradient-outline">
            <span>Войти</span>
        </button>
    {% endif %}
</form>